.jumbotron{
	background-color: #9370DB;
}
table{
	background-image: url("http://all4desktop.com/data_images/original/4236532-background-images.jpg");
	color:white;
}
form{
	background-image: url("http://eskipaper.com/images/background-images-5.jpg");
}
body{
	background-image: url("http://globalmedicalco.com/photos/globalmedicalco/2/8580.jpg");
}